button {
    background-color: #3882F6;
}
.header {
    background-color: #1F2937;

}

.text-main {
    color: #F9FAF8;
}

.text-sec {
    color: #E5E7EB;
}
/* remember border of images and round it */