/*in the end try to see how much of a top-down forest->trees thing you can make this
e.g. try to apply flex on huge scale first then smaller etc*/
/*ALSO zoom into the example image, make your site conform more to that normal view
than to the closed/smaller window view that it currently conforms to. make it a normal landing page.*/
/*may have to increase font sizes and such*/
button, .call-action {
    background-color: #3882F6;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.capts img {
    object-fit: cover;
    width: 20vw;
    height: 20vw;
    flex-shrink: 0;
}

.header-bottom > img {
    size: auto;
    transform: scale(0.5) translate(50%, 0);
    flex-shrink: 1;
    flex-basis: 0;
}

.header {
    padding: 0 20%;
    background-color: #1F2937;
}

.midder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-top, .header-bottom, ul, .capts, .capt {
    display: flex;
}

.capts {
    justify-content: center;
    gap: 15vw;
}
.capt {
    flex-direction: column;
    width: 100px;
    align-items: center;
    text-align: center;
}

ul {
    list-style: none;
    gap: 16px;
}

.header-top, .header-bottom {
    justify-content: space-between;
    align-items: center;
}

.header-bottom {
    /*why doesnt the img ehre shrink too*/
    gap: 10px;
    padding: 30%vh 0;
}

.text-hero, .logo, button {
    color: #F9FAF8;
}

button {
    padding: 5px 15px;
    border-radius: 8px;
    border-color: #E5E7EB;
    border-width: 4px;
    /*round edges*/
}

.text-hero {
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0px;
}

.text-sec {
    color: #E5E7EB;
    font-size: 18px;
}

.quote {
    background: #E5E7EB;
    padding: 12.5% 25%;
    margin: 0;
}

.sec-quote {
    color: #1F2937;
    font-size: 24px;
    font-weight: extra-bold;
    text-align: right;

}

.main-quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    text-align: center;
}

.logo {
    margin: 10px 0;
}

.title-pics {
    color: #1F2937;
    font-size: 36px;
    font-weight: extra-bold;
    margin: 40px 0px;
}

.call-action {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5% 10%;
    padding: 5% 20%;
    gap: 20%
}

.call-action h1 {
    color: #E5E7EB;
}
/* remember border of images and round it */