button, .call-action {
    background-color: #3882F6;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.capts img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}

.header img {
    width: 500px;
    height: 200px;
}

.header {
    padding: 0 100px;
    background-color: #1F2937;
}

.header-top, .header-bottom, ul {
    display: flex;
}

ul {
    list-style: none;
    gap: 16px;
}

.header-top, .header-bottom {
    justify-content: space-between;
    align-items: center;
}

.header-bottom {
    gap: 10px;
    padding-bottom: 75px;
}

.text-hero, .logo, button {
    color: #F9FAF8;
}

.text-hero {
    font-size: 48px;
    font-weight: extra-bold;
}

.text-sec {
    color: #E5E7EB;
    font-size: 18px;
}

.quote {
    background: #E5E7EB;
    font-size: 36px;
    font-weight: light italic;
    color: #1F2937;
}

.title-pics {
    color: #1F2937;
    font-size: 36px;
    font-weight: extra-bold;
}
/* remember border of images and round it */